@import "./variables.scss";

.App {
  text-align: center;
  & > .container{
      max-width: 1110px;
  }
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


//app ML
body{
    background: $gris3
}
//header
.navbar{
    background: $amarillo;
    margin-bottom: 20px;
    .container{
        max-width: 1110px;
        padding: 0;
    }
    .navbar-brand{
        overflow: hidden;
        text-indent: -999px;
        position: relative;
        background: url(assets/Logo_ML.png) no-repeat center;
        @media
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi) {
            background: url(assets/Logo_ML@2x.png) no-repeat center;
            background-size: contain;
        }
        width: 60px;
        height: auto;
    }
    .input-group{
        padding-left: 0;
        input{
            font-size: 18px;
            border: none;
            &:focus,&:active{
                border: none;
                outline: none;
                box-shadow: none;
            }
        }
        .input-group-append{
            .btn{
                overflow: hidden;
                text-indent: -999px;
                background: url(assets/ic_Search.png) no-repeat $gris3 center;
                @media
                (-webkit-min-device-pixel-ratio: 2),
                (min-resolution: 192dpi) {
                    background: url(assets/ic_Search@2x.png) no-repeat $gris3 center;
                    background-size: 23px;
                }
                width: 46px;
                &:focus,&:active{
                    border: none;
                    outline: none;
                    box-shadow: none;
                }
            }
        }
    }
}


//categories
.categories{
    color: $gris2;
    margin-bottom: 20px;
    span{
        &:last-of-type{
            font-weight: 700;
        }
        &+span:before{
            content: ">";
            margin: 0 10px;
            color:$gris2;
        }
    }

}
